.bloglist-wrap{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1rem;
    margin-bottom: 350px;
    max-width:1150px;
    width:98%;
    margin-left:auto;
    margin-right: auto;
}

@media(max-width:768px){
    .bloglist-wrap{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:1rem;
    }
}