.EmailContainer{
    background:linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.1) 100%),url('./itstartup.jpg') no-repeat center;
background-size:cover;
height:250px;
width:100%;
display:flex;
justify-content:center;
color:white;
align-items:center;
padding: 5rem calc((100vw - 1300px) / 2);
}
.EmailContainer .EmailContent{
    display:flex;
flex-direction:column;
align-items:center;
}
.EmailContent h1{
    text-align:center;
    margin-bottom : 1rem;
    font-size: clamp(1rem , 3vw , 2rem);
    padding:0 1rem;
}

.EmailContent p{
    text-align:center;
    font-size: clamp(1rem , 2vw , 1rem);
    padding:0 1rem;
    margin-bottom:2rem;

}
form{
    z-index:100
}
.FormWrap input{
    
        padding:1rem 1.5rem;
        outline:none;
        width:350px;
        height:48px;
        border:none;
        margin-right:1rem;
        border-radius:50px;
}
.FormWrap button{
    background:blue;
white-space:nowrap;
padding:16px 32px;
color:white;
outline:none;
border:none;
cursor:pointer;
transition:0.3s !important;
border-radius:50px;
min-width:100px;
text-decoration:none;
}

@media (max-width:768px){
    .EmailContainer{
        padding-top:60px;
        height:300px;
    }
    .FormWrap{
        display:flex;
        flex-direction:column;
        padding:0 1rem;
      
    }
    .FormWrap input{
        margin-bottom:30px;
        width:100%;
        margin-right:0;
    }
}